{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list list--nav">
    {% for item in site.navigation_header %}
    	{% assign item_name = item[0] %}
	<li class="item  item--nav{% if item[1] == page.url %}  item--current{% endif %}">
		<a href="{{ item[1] | prepend: site.github.url }}">{{item_name}} {{ page.url }} {{ site.navigation_header_locales[item_name][site.active_lang] }}</a>
	</li>
    {% endfor %}

    {% for lang in site.languages %}
      <li class="item  item--nav{% if lang == site.active_lang %}  item--current{% endif %}">
	      <a href="{% if lang == site.default_lang %} {{site.baseurl}}{{page.url}}{% else %} {{site.baseurl}}/{{ lang }}{{page.url}}{% endif %}">{{ lang }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}
