<aside class="aside  typeset">
  <h2>{{ site.locales.about[site.active_lang] }}</h2>
  <p>{{ site.locales.about_desc[site.active_lang] }}</p>

  {% unless paginator.posts %}
    {% if page.collection == "posts" %}
      {% include post-related.html %}
    {% else %}
      {% include post-list.html %}
    {% endif %}
  {% endunless %}

  {% if page.collection == "posts" or paginator.posts %}
    {% include button.html text="Subscribe to posts &nbsp;" icon="rss" link="/feed.xml" %}
  {% endif %}

  {% include nav-social.html %}

</aside>
